
    .div {
      align-items: flex-start;
      background-color: #fff;
      display: flex;
      flex-direction: column;
    }
    .div-2 {
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #000;
      background-color: var(--White, #fff);
      align-self: stretch;
      display: flex;
      width: 100%;
      padding-top: 22px;
      
      padding-bottom: 22px;
      
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .div-2 {
        max-width: 100%;
      }
    }
    .div-3 {
      justify-content: space-between;
      align-items: flex-start;
      align-self: center;
      display: flex;

      margin-bottom: -1px;
      width: 100%;
      max-width: 1312px;
      gap: 20px;
    }
    @media (max-width: 991px) {
      .div-3 {
        max-width: 100%;
        flex-wrap: wrap;
      }
    }
    .img {
      aspect-ratio: 4.31;
      object-fit: cover;
      object-position: center;
      width: 125px;
    }
    .div-4 {
      align-items: flex-start;
      align-self: center;
      display: flex;
      margin-top: auto;
      margin-bottom: auto;
      width: 343px;
      max-width: 100%;
      justify-content: space-between;
      gap: 20px;
    }
    @media (max-width: 991px) {
      .div-4 {
        justify-content: center;
      }
    }
    .div-5 {
      color: var(--Black, #000);
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      align-self: stretch;
    }
    .div-6 {
      color: var(--Black, #000);
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      align-self: stretch;
    }
    .div-7 {
      color: var(--Black, #000);
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      align-self: stretch;
    }
    .div-8 {
      color: var(--Black, #000);
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      align-self: stretch;
      text-wrap: nowrap;
    }
    @media (max-width: 991px) {
      .div-8 {
        text-wrap: initial;
      }
    }
    .div-9 {
      align-items: center;
      background-color: rgba(63, 14, 14, 0.5);
      align-self: stretch;
      display: flex;
      width: 100%;
      padding-top: 40px;
     
      padding-bottom: 40px;
     
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .div-9 {
        max-width: 100%;
      }
    }
    .div-10 {
      align-items: flex-start;
      align-self: start;
      display: flex;
      margin-top: 311px;
      margin-left: 44px;
      margin-bottom: 240px;
      width: 560px;
      max-width: 100%;
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .div-10 {
        margin-top: 200px;
      }
    }
    .div-11 {
      align-self: stretch;
      color: var(--White, #fff);
      font-family: Roboto, sans-serif;
      font-size: 56px;
      font-weight: 700;
      line-height: 120%;
      width: 100%;
    }
    @media (max-width: 991px) {
      .div-11 {
        max-width: 100%;
        font-size: 40px;
      }
    }
    .div-12 {
      align-self: stretch;
      color: var(--White, #fff);
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      margin-top: 24px;
      width: 100%;
    }
    @media (max-width: 991px) {
      .div-12 {
        max-width: 100%;
      }
    }
    .div-13 {
      align-items: center;
      background-color: var(--White, #fff);
      align-self: stretch;
      display: flex;
      width: 100%;
      padding-top: 40px;
      
      padding-bottom: 40px;
     
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .div-13 {
        max-width: 100%;
      }
    }
    .div-14 {
      align-items: center;
      align-self: center;
      display: flex;
      margin-top: 112px;
      width: 768px;
      max-width: 100%;
      flex-direction: column;
    }
    .div-15 {
      align-self: stretch;
      color: var(--Black, #000);
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 120%;
      width: 100%;
    }
    @media (max-width: 991px) {
      .div-15 {
        max-width: 100%;
        font-size: 40px;
      }
    }
    .div-16 {
      align-self: stretch;
      color: var(--Black, #000);
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      margin-top: 24px;
      width: 100%;
    }
    @media (max-width: 991px) {
      .div-16 {
        max-width: 100%;
      }
    }
    .div-17 {
      align-items: flex-start;
      align-self: center;
      display: flex;
      margin-top: 80px;
      margin-left: -20px;
      margin-bottom: 50px;
      width: 100%;
      max-width: 1312px;
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .div-17 {
        max-width: 100%;
      }
    }
    .div-18 {
      align-self: stretch;
    }
    @media (max-width: 991px) {
      .div-18 {
        max-width: 100%;
      }
    }
    .div-19 {
      gap: 20px;
      display: flex;
    }
    @media (max-width: 991px) {
      .div-19 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .column {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 50%;
      margin-left: 0px;
    }
    @media (max-width: 991px) {
      .column {
        width: 100%;
      }
    }
    .div-20 {
      align-items: center;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      width: 632px;
    }
    @media (max-width: 991px) {
      .div-20 {
        max-width: 100%;
        margin-top: 48px;
      }
    }
    .img-2 {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      width: 150px;
      align-self: center;
      border-radius: 50%;
    }
    .div-21 {
      align-items: center;
      align-self: stretch;
      display: flex;
      margin-top: 24px;
      flex-direction: column;
      width: 100%;
    }
    @media (max-width: 991px) {
      .div-21 {
        max-width: 100%;
      }
    }
    .div-22 {
      align-self: stretch;
      color: var(--Black, #000);
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 150%;
      width: 100%;
    }
    .div-23 {
      align-self: stretch;
      color: var(--Black, #000);
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      width: 100%;
    }
    .div-24 {
      align-items: flex-start;
      align-self: center;
      display: flex;
      margin-top: 24px;
      width: 62px;
      max-width: 100%;
      gap: 14px;
    }
    .img-3 {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      width: 24px;
    }
    .img-4 {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      width: 24px;
    }
    .column-2 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 50%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .column-2 {
        width: 100%;
      }
    }
    .div-25 {
      align-items: center;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      width: 632px;
    }
    @media (max-width: 991px) {
      .div-25 {
        max-width: 100%;
        margin-top: 48px;
      }
    }
    .img-5 {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      width: 150px;
      align-self: center;
      border-radius: 50%;
    }
    .div-26 {
      align-items: center;
      align-self: stretch;
      display: flex;
      margin-top: 24px;
      flex-direction: column;
      width: 100%;
    }
    @media (max-width: 991px) {
      .div-26 {
        max-width: 100%;
      }
    }
    .div-27 {
      align-self: stretch;
      color: var(--Black, #000);
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 150%;
      width: 100%;
    }
    .div-28 {
      align-self: stretch;
      color: var(--Black, #000);
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      width: 100%;
    }
    .div-29 {
      align-items: flex-start;
      align-self: center;
      display: flex;
      margin-top: 24px;
      width: 62px;
      max-width: 100%;
      gap: 14px;
    }
    .img-6 {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      width: 24px;
    }
    .img-7 {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      width: 24px;
    }
    .div-30 {
      align-self: stretch;
      margin-top: 64px;
    }
    @media (max-width: 991px) {
      .div-30 {
        max-width: 100%;
      }
    }
    .div-31 {
      gap: 20px;
      display: flex;
    }
    @media (max-width: 991px) {
      .div-31 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .div-32 {
      align-items: center;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      width: 632px;
    }
    @media (max-width: 991px) {
      .div-32 {
        max-width: 100%;
        margin-top: 48px;
      }
    }
    .img-8 {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      width: 150px;
      align-self: center;
      border-radius: 50%;
    }
    .div-33 {
      align-items: center;
      align-self: stretch;
      display: flex;
      margin-top: 24px;
      flex-direction: column;
      width: 100%;
    }
    @media (max-width: 991px) {
      .div-33 {
        max-width: 100%;
      }
    }
    .div-34 {
      align-self: stretch;
      color: var(--Black, #000);
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 150%;
      width: 100%;
    }
    .div-35 {
      align-self: stretch;
      color: var(--Black, #000);
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      width: 100%;
    }
    .div-36 {
      align-items: flex-start;
      align-self: center;
      display: flex;
      margin-top: 24px;
      width: 62px;
      max-width: 100%;
      gap: 14px;
    }
    .img-9 {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      width: 24px;
    }
    .img-10 {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      width: 24px;
    }
    .column-3 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 50%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .column-3 {
        width: 100%;
      }
    }
    .div-37 {
      align-items: center;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      width: 632px;
    }
    @media (max-width: 991px) {
      .div-37 {
        max-width: 100%;
        margin-top: 48px;
      }
    }
    .img-11 {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      width: 150px;
      align-self: center;
      border-radius: 50%;
    }
    .div-38 {
      align-items: center;
      align-self: stretch;
      display: flex;
      margin-top: 24px;
      flex-direction: column;
      width: 100%;
    }
    @media (max-width: 991px) {
      .div-38 {
        max-width: 100%;
      }
    }
    .div-39 {
      align-self: stretch;
      color: var(--Black, #000);
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 150%;
      width: 100%;
    }
    .div-40 {
      align-self: stretch;
      color: var(--Black, #000);
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      width: 100%;
    }
    .div-41 {
      align-items: flex-start;
      align-self: center;
      display: flex;
      margin-top: 24px;
      width: 62px;
      max-width: 100%;
      gap: 14px;
    }
    .img-12 {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      width: 24px;
    }
    .img-13 {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      width: 24px;
    }
    .div-42 {
      align-items: center;
      background-color: var(--White, #fff);
      align-self: stretch;
      display: flex;
      width: 100%;
      padding-top: 40px;
    
      padding-bottom: 40px;
   
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .div-42 {
        max-width: 100%;
      }
    }
    .div-43 {
      align-self: center;
      color: #000;
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 120%;
      margin-top: 72px;
      width: 768px;
      max-width: 100%;
    }
    @media (max-width: 991px) {
      .div-43 {
        font-size: 40px;
      }
    }
    .div-44 {
      align-self: center;
      margin-top: 80px;
      margin-left: -20px;
      margin-bottom: 50px;
      width: 100%;
      max-width: 1312px;
    }
    @media (max-width: 991px) {
      .div-44 {
        max-width: 100%;
      }
    }
    .div-45 {
      gap: 20px;
      display: flex;
    }
    @media (max-width: 991px) {
      .div-45 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .div-46 {
      align-items: center;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      width: 624px;
    }
    @media (max-width: 991px) {
      .div-46 {
        max-width: 100%;
        margin-top: 50px;
      }
    }
    .img-14 {
      aspect-ratio: 1.54;
      object-fit: cover;
      object-position: center;
      width: 100%;
      align-self: stretch;
    }
    @media (max-width: 991px) {
      .img-14 {
        max-width: 100%;
      }
    }
    .div-47 {
      align-items: center;
      align-self: stretch;
      display: flex;
      margin-top: 24px;
      flex-direction: column;
      width: 100%;
    }
    @media (max-width: 991px) {
      .div-47 {
        max-width: 100%;
      }
    }
    .div-48 {
      align-self: stretch;
      color: #000;
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 150%;
      width: 100%;
    }
    .div-49 {
      align-self: stretch;
      color: #000;
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      width: 100%;
    }
    .div-50 {
      align-items: flex-start;
      align-self: center;
      display: flex;
      margin-top: 24px;
      width: 62px;
      max-width: 100%;
      gap: 14px;
    }
    .img-15 {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      width: 24px;
    }
    .img-16 {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      width: 24px;
    }
    .column-4 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 50%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .column-4 {
        width: 100%;
      }
    }
    .div-51 {
      align-items: center;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      width: 624px;
    }
    @media (max-width: 991px) {
      .div-51 {
        max-width: 100%;
        margin-top: 50px;
      }
    }
    .img-17 {
      aspect-ratio: 1.54;
      object-fit: cover;
      object-position: center;
      width: 100%;
      align-self: stretch;
    }
    @media (max-width: 991px) {
      .img-17 {
        max-width: 100%;
      }
    }
    .div-52 {
      align-items: center;
      align-self: stretch;
      display: flex;
      margin-top: 24px;
      flex-direction: column;
      width: 100%;
    }
    @media (max-width: 991px) {
      .div-52 {
        max-width: 100%;
      }
    }
    .div-53 {
      align-self: stretch;
      color: #000;
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 150%;
      width: 100%;
    }
    .div-54 {
      align-self: stretch;
      color: #000;
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      width: 100%;
    }
    .div-55 {
      align-items: flex-start;
      align-self: center;
      display: flex;
      margin-top: 24px;
      width: 62px;
      max-width: 100%;
      gap: 14px;
    }
    .img-18 {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      width: 24px;
    }
    .img-19 {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      width: 24px;
    }
    .div-56 {
      align-items: center;
      background-color: var(--White, #fff);
      align-self: stretch;
      display: flex;
      width: 100%;
      padding-top: 40px;
    
      padding-bottom: 40px;
    
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .div-56 {
        max-width: 100%;
      }
    }
    .div-57 {
      align-self: center;
      color: var(--Black, #000);
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 120%;
      margin-top: 72px;
      width: 768px;
      max-width: 100%;
    }
    @media (max-width: 991px) {
      .div-57 {
        font-size: 40px;
      }
    }
    .div-58 {
      align-items: center;
      align-self: center;
      display: flex;
      margin-top: 80px;
      margin-left: -20px;
      margin-bottom: 50px;
      width: 100%;
      max-width: 1312px;
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .div-58 {
        max-width: 100%;
      }
    }
    .img-20 {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      width: 48px;
      align-self: center;
    }
    .div-59 {
      align-items: center;
      align-self: stretch;
      display: flex;
      margin-top: 24px;
      flex-grow: 1;
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .div-59 {
        max-width: 100%;
      }
    }
    .div-60 {
      align-self: center;
      color: var(--Black, #000);
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 32px;
      font-weight: 700;
      line-height: 130%;
      width: 1312px;
    }
    @media (max-width: 991px) {
      .div-60 {
        max-width: 100%;
      }
    }
    .div-61 {
      align-self: center;
      color: var(--Black, #000);
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      margin-top: 16px;
      width: 1312px;
    }
    @media (max-width: 991px) {
      .div-61 {
        max-width: 100%;
      }
    }
    .div-62 {
      align-items: center;
      background-color: var(--White, #fff);
      align-self: stretch;
      display: flex;
      width: 100%;
      padding-top: 40px;
  
      padding-bottom: 40px;
      
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .div-62 {
        max-width: 100%;
      }
    }
    .div-63 {
      align-items: flex-start;
      align-self: center;
      display: flex;
      margin-top: 40px;
      margin-left: -20px;
      width: 100%;
      max-width: 1312px;
      justify-content: space-between;
      gap: 20px;
    }
    @media (max-width: 991px) {
      .div-63 {
        max-width: 100%;
        flex-wrap: wrap;
      }
    }
    .img-21 {
      aspect-ratio: 4.16;
      object-fit: cover;
      object-position: center;
      width: 129px;
    }
    .div-64 {
      align-items: flex-start;
      align-self: center;
      display: flex;
      margin-top: auto;
      margin-bottom: auto;
      width: 149px;
      max-width: 100%;
      justify-content: space-between;
      gap: 20px;
    }
    .div-65 {
      color: var(--Black, #000);
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 150%;
      align-self: stretch;
    }
    .div-66 {
      color: var(--Black, #000);
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 150%;
      align-self: stretch;
      text-wrap: nowrap;
    }
    @media (max-width: 991px) {
      .div-66 {
        text-wrap: initial;
      }
    }
    .div-67 {
      align-items: center;
      align-self: center;
      display: flex;
      margin-top: 80px;
      margin-left: -20px;
      margin-bottom: 40px;
      width: 1312px;
      max-width: 1312px;
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .div-67 {
        max-width: 100%;
      }
    }
    .div-68 {
      align-self: stretch;
      background-color: var(--Black, #000);
      display: flex;
      width: 100%;
      height: 1px;
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .div-68 {
        max-width: 100%;
      }
    }
    .div-69 {
      color: var(--Black, #000);
      font-family: Roboto, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      align-self: center;
      margin-top: 32px;
      text-wrap: nowrap;
    }
    @media (max-width: 991px) {
      .div-69 {
        text-wrap: initial;
      }
    }
  